/* --------------------------Layout Content ---------------- */
.nav a:hover{
  background-color: #9590b0;
}

body{
  background-color: #8db7c2;
}
.nav{
  background: none;
}
.nav> *:not(img,a){
    filter: blur(3px);
}
.nav a{
  margin: 10px;
  width: 10%;
  height: 5%;
  border: 2px solid #ebe0b7;
  text-align: center;
  border-radius: 20%;
  padding: 10px;
  font-family: 'Abril Fatface', cursive;
  color: black;
  position: relative;
  left: 50%;

}
.content-area{
  width: 100%;
  margin-top: 5%;
  height: 10%;
  color: black;

}
/* ---------------------------Review page-------------------- */
#exp >*:not(c){
  opacity: 0.5;
}
.content-area .ctr_set{
  background-color: #75809e;
  width: 60%;
  margin-top: 20px;
  border-radius: 5px;
}
.content-area .review_container{
  position: absolute;
  left: 20%;
  top: 60%;
}
#review_heading{
  font-family: 'Abril Fatface', cursive;
}
.content-area .b{
  text-align: center;
  font-family: 'VT323', monospace;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 1px;

}
.content-area .container .row .cly_review .c{
  color: black;
  text-transform:uppercase;
  font-size: large;
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}
#rating_star{
  font-style: italic;
  font-size: Small;
  /* font-family: 'Roboto Slab', serif; */
}

#already_reviewed{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 30px;
}

.content-area .tb{
  width: 60%;
  background-color: #75809e;
  position: absolute;
  top: 80%;
  left: 20%;
}
#name_tag{
  color: #bdb57e;
  text-transform: capitalize;
  font-family:'Libre Franklin', sans-serif;

}
/* ------------------------- Search page------------- */
.content-area .heading{
  text-align: center;
  font-weight: bold;
  font-family: 'VT323', monospace;
}

.content-area .container .row .cly{
  background-color: #75809e;
  margin: 20px;

}
.content-area .container .row .cly h4{
  text-align: center;
  font-family: 'Abril Fatface', cursive;

}
.content-area .container .row .cly p{
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
}
.content-area .container .row .cly a{
    border: 1px solid black;
    color: #bdb57e;
}



/* ---------------- Index page------------- */
.content-area .search_input .inp{
    margin: 20px;
    width: 80%;
    /* background: none; */
    height: 50px;
    /* float: left; */
    position: relative;
    /* top: 50px; */
    border-radius: 5%;
    left: 10%;
    text-align: center;
    padding: 20px:
}
.content-area .search_input .button{
  text-align: center;
  position: relative;
  right: 36.5%;
  top: 110px;
  width: 10%;
  height: 50px;
  border-radius: 5px;
}

/* Parent not found */
.content-area .main_content{
  text-align: center;
  /* padding: 10px; */
}
