<!DOCTYPE html>
<html>

<head>
	<title>Husler co.</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/login_stylesheet.css">
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Rokkitt:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="login-logo">
		<img src="../static/logo.png" alt="Logo">
    <h1><b>Register to enter DA LEAGUE!</b></h1>
	</div>
  <form action="/register" method="post" class="login_box">
    <input type="text" name="Username" placeholder="Username">
    <input type="password" name="Password" placeholder="Password" >
    <input type="submit"  name="Register" placeholder="Register">
  </form>
</body>
</html>
